<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |f| %>

  <% if @picture.errors.any? %>
    <div id="picture_error_explanation">
      <p><%= @picture.errors.count %>件のエラーがあります。</p>
      <% @picture.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
<div class="form_content">
<div class="form_image">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>
<div class="form_text">
  <%= f.text_area :content,  placeholder: "本文を入力してください" %>
</div>
  <%= f.submit 'create', class: "btn btn-default" %>

<% end %>
</div>
