<h1>confirm</h1>

<%= form_with(model: @picture, url: pictures_path, local: true) do |f| %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :content %>

  <%= image_tag(@picture.image) %>
  <%= @picture.content %>

  <%= f.submit 'create' %>

<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |f| %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image_cache %>

  <%= f.submit 'back' %>

<% end %>
