<div class="list_content">
  <div class="container">
    <div class="row">
      <% @results.each do |result| %>
        <div class="list_image col-lg-4 col-sm-6 col-xs-12">
  	       <%= link_to image_tag(result.image), picture_path(result.id) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="list_page">
    <% if @page > 0 then %>
      <a href="/pictures?page=<%=@page - 1 %>" class="btn btn-default"><%=@page %></a>
    <% end %>
    <p><%=(@page + 1)%></p>
    <% if @record_count > (@page + 1) * @page_num %>
      <a href="/pictures?page=<%=@page + 1 %>" class="btn btn-default"><%=@page + 2 %></a>
    <% end %>
  </div>
</div>
